
.background{
    background:black;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*.login_background{*/
/*    background-color: red;*/
/*}*/
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #3f3f3f;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #bbbbbb;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
}
